main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#abstract-1 {
  width: -webkit-fill-available;
  max-height: 550px;
  z-index: 999;
}

@media screen and (max-width: 991px) {
  .videoWrapper {
    padding-bottom: 56.25%;
  }
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  /* #my-picture {
    background: #c1c1ff;
    margin-left: 1rem;
    margin-right: 1rem;
  } */
}

/* @keyframes morph {
  0%,
  100% {
    border-radius: 
      40% 60% 70% 30% /
      40% 40% 60% 50%;
  }
  34% {
    border-radius: 
      70% 30% 50% 50% /
      30% 30% 70% 70%;
  }
  67% {
    border-radius: 
      100% 60% 60% 100% /
      100% 100% 60% 60%;
  }
} */

#my-picture {
  border-radius: 50%;
  z-index: 1;
  position: relative;
  width: 80%;
  /* animation: morph 10.5s linear infinite; */
}

#abstract-image {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.section {
  height: 100vh;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.10rem;
  color: #5271ff;
}

iframe {
  border-radius: 30px;
}

#home {
  justify-content: center;
}

#name-photo-row {
  align-items: center;
}

#about {
  background: #f6f6f8;
}

a {
  color: #222222;
  text-decoration: none;
}

.card {
  border-radius: 15px;
  max-width: 35rem;
  margin: auto;
}

.row {
  margin: 0;
}

.card-img-top {
  padding: 10px;
  background:#f6f6f8;
  border-radius: 15px;
}

#btn-contact-me {
  background-color: #5271ff;
}

.violet {
  color: #5271ff;
}

.card-contact-me {
  min-width: 300px;
}


.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(82, 113, 255, 0.15);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11){
  left: 15%;
  width: 95px;
  height: 95px;
  animation-delay: 0s;
  animation-duration: 15s;
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.navbar {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}

@supports (-webkit-backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) or
  (backdrop-filter: blur(30px) saturate(160%) contrast(45%) brightness(140%)) {
  .navbar-b.navbar-reduce {
    transition: all 0.5s ease-in-out;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  }
}
